<head>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script>
		$(function(){
			$( document ).tooltip();
		});
	</script>
	<style>
		label{
			display:inline-block;
			width: 5em;
		}
	</style>
</head>
<body>
	<div class='top'><h1>Reza Jannati</h1></div>
	<div class= 'container'>
		<h3>Introduction</h3>
		<p> 
			My name is Reza Jannati and I am seeking a junior developer position. I created this website to showcase my abilities. Below are projects that i have created. 
		</p>
		<br>
		<a class="fa fa-linkedin-square fa-3x pull-right" href="https://www.linkedin.com/pub/reza-jannati/90/3b6/2b1" title="My Profile on LinkedIn"></a>
		<a class="fa fa-github-square fa-3x pull-right" href="https://github.com/rezajannati" title='My Github Page'></a>
		<a class="fa fa-briefcase fa-3x pull-right" href="" title="My Resume"></a>
		<h1>Ruby on Rails</h1>
		<table class ='table table-striped'>
			<tbody>
				<tr>
					<td>
						<img src="/assets/NinjaGold.png" alt="Ninjagold_Pic" height='176' width='242'>
					</td>
					<td> 
						<h2>NinjaGold game</h2>
						<p>A mini game that helps Ninjas make money!</p>
					</td>
					<td>
						 <a class = 'btn btn-primary btn-block' href="http://fierce-taiga-4149.herokuapp.com" title="Try out this game">Try it!</a>
						 <a class = 'btn btn-primary fa fa-github-square btn-block' href="https://github.com/rezajannati/NinjaGold.git" title= 'See the code on Github'> See the code</a>
					</td>
				</tr>
				<tr>
					<td> 
						<img src="/assets/User_Management_System.png" alt="UMS_pic" height='176' width='242'>
					</td>
					<td>
						<h2>User Management System</h2>
						<p>A user management system to add and display users.</p>
					</td>
					<td>
						 <a class = 'btn btn-primary btn-block' href="http://powerful-plateau-6705.herokuapp.com" title= 'Try out this application' >Try it!</a>
						 <a class = 'btn btn-primary fa fa-github-square btn-block' href="https://github.com/rezajannati/User_Management_System.git" title= 'See the code on Github'> See the code</a>
					</td>
				</tr>
				<tr>
					<td>
						<img src="/assets/Product_Dashboard.png" alt="UMS_pic" height='176' width='242'>
					</td>
					<td>
						<h2>Products Dashboard</h2>
						<p>An inventory management system that allows you to add and display products. Users can also comment on each product.</p>
					</td>
					<td>
						 <a class = 'btn btn-primary btn-block' href="http://shielded-sands-3782.herokuapp.com" title= 'Try out this application'>Try it!</a>
						 <a class = 'btn btn-primary fa fa-github-square btn-block' href="https://github.com/rezajannati/Products_Dashbord.git" title= 'See the code on Github'> See the code</a>
					</td>
				</tr>
				<tr>
					<td>
						<img src="/assets/The_Wall.png" alt="Wall_Pic" height='176' width='242'>
					</td>
					<td>
						<h2>The Wall</h2>
						<p>Like facebook. Login create messages, and comment on messages.</p>
					</td>
					<td>
						 <a class = 'btn btn-primary btn-block' href="http://lit-gorge-2197.herokuapp.com" title= 'Try out this application'>Try it!</a>
						 <a class = 'btn btn-primary fa fa-github-square btn-block' href="https://github.com/rezajannati/Rails_The_Wall" title= 'See the code on Github'> See the code</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
